In [2]:
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
with open('gramedia.html', encoding='utf-8') as f:
    page = f.read()

In [4]:
soup = BeautifulSoup(page, 'html.parser')

In [5]:
author = soup.find_all('p', {'class':'div-author'})

In [31]:
author_name = [a.text.strip() for a in author]

In [35]:
author_name

['Andrea Hirata',
 'Ika Natassa',
 'C. S. Lewis',
 'TARA WESTOVER',
 'Toshikazu Kawaguchi',
 'C. S. Lewis',
 'Matt Haig',
 'Keigo Higashino',
 'Aliazalea',
 'Tere-liye',
 'Tere-liye',
 'Ziggy Zezsyazeoviennazabrizkie',
 'Theoresia Rumthe & Weslly Johannes',
 'Keigo Higashino',
 'Keigo Higashino',
 'Eka Kurniawan',
 'Ziggyzesyazeoviennazabrizkie',
 'Kazuo Ishiguro',
 'Keigo Higashino',
 'Soji Shimada']

In [36]:
title = soup.find_all('div', {'class':'list-title'})

In [38]:
book_title = [t.text.strip() for t in title]

In [39]:
book_title

['Brianna dan Bottomwise',
 'Heartbreak Motel',
 'The Chronicles of Narnia #1: The Magician`s Nephew (Keponakan Penyihir)',
 'Terdidik (Educated) - Sebuah Memoar',
 'Funiculi Funicula (Kōhī Ga Samenai Uchi Ni---Before the Coffee Gets Cold)',
 'The Chronicles of Narnia #3: The Horse & His Boy (Kuda dan Anak Manusia)',
 'Perpustakaan Tengah Malam (The Midnight Library)',
 'Keajaiban Toko Kelontong Namiya---Namiya Zakkaten no Kiseki/The Miracles of the Namiya General Store',
 'Man Boy',
 'Bibi Gill',
 'Sagaras',
 'Tiga dalam Kayu',
 'Tempat Paling Liar di Muka Bumi',
 'Kesetiaan Mr. X (Devotion of Suspect X)',
 'Pembunuhan di Nihonbashi (The Newcomer)',
 'Cantik Itu Luka (edisi 20 Tahun)',
 'Novel Di Tanah Lada',
 'Klara dan Sang Matahari (Klara and The Sun)',
 'Novel Catatan Pembunuhan Sang Novelis (Malice)',
 'Pembunuhan Zodiak Tokyo (The Tokyo Zodiac Murders)']

In [40]:
normal_price = soup.find_all('p', {'class':'formats-base-price'})

In [42]:
normal_price = [p.text.strip() for p in normal_price]

In [43]:
normal_price

['Rp 115.000',
 'Rp 99.000',
 'Rp 65.000',
 'Rp 128.000',
 'Rp 70.000',
 'Rp 65.000',
 'Rp 105.000',
 'Rp 130.000',
 'Rp 99.000',
 'Rp 89.000',
 'Rp 89.000',
 'Rp 75.000',
 'Rp 50.000',
 'Rp 97.000',
 'Rp 93.000',
 'Rp 178.000',
 'Rp 88.000',
 'Rp 117.000',
 'Rp 93.000',
 'Rp 90.000']

In [44]:
price_after_sale = soup.find_all('p', {'class':'formats-price'})

In [45]:
price_after_sale = [s.text.strip() for s in price_after_sale]

In [46]:
price_after_sale

['Rp 97.750',
 'Rp 79.200',
 'Rp 48.750',
 'Rp 96.000',
 'Rp 52.500',
 'Rp 52.000',
 'Rp 78.750',
 'Rp 97.500',
 'Rp 79.200',
 'Rp 75.650',
 'Rp 75.650',
 'Rp 56.250',
 'Rp 37.500',
 'Rp 72.750',
 'Rp 69.750',
 'Rp 133.500',
 'Rp 66.000',
 'Rp 87.750',
 'Rp 69.750',
 'Rp 67.500']

In [47]:
data = pd.DataFrame()

In [48]:
data['author'] = author_name
data['title'] = book_title
data['normal_price'] = normal_price
data['current_price'] = price_after_sale

In [49]:
data

,author,title,normal_price,current_price
0,Andrea Hirata,Brianna dan Bottomwise,Rp 115.000,Rp 97.750
1,Ika Natassa,Heartbreak Motel,Rp 99.000,Rp 79.200
2,C. S. Lewis,The Chronicles of Narnia #1: The Magician`s Ne...,Rp 65.000,Rp 48.750
3,TARA WESTOVER,Terdidik (Educated) - Sebuah Memoar,Rp 128.000,Rp 96.000
4,Toshikazu Kawaguchi,Funiculi Funicula (Kōhī Ga Samenai Uchi Ni---B...,Rp 70.000,Rp 52.500
5,C. S. Lewis,The Chronicles of Narnia #3: The Horse & His B...,Rp 65.000,Rp 52.000
6,Matt Haig,Perpustakaan Tengah Malam (The Midnight Library),Rp 105.000,Rp 78.750
7,Keigo Higashino,Keajaiban Toko Kelontong Namiya---Namiya Zakka...,Rp 130.000,Rp 97.500
8,Aliazalea,Man Boy,Rp 99.000,Rp 79.200
9,Tere-liye,Bibi Gill,Rp 89.000,Rp 75.650
10,Tere-liye,Sagaras,Rp 89.000,Rp 75.650
11,Ziggy Zezsyazeoviennazabrizkie,Tiga dalam Kayu,Rp 75.000,Rp 56.250
12,Theoresia Rumthe & Weslly Johannes,Tempat Paling Liar di Muka Bumi,Rp 50.000,Rp 37.500
13,Keigo Higashino,Kesetiaan Mr. X (Devotion of Suspect X),Rp 97.000,Rp 72.750
14,Keigo Higashino,Pembunuhan di Nihonbashi (The Newcomer),Rp 93.000,Rp 69.750
15,Eka Kurniawan,Cantik Itu Luka (edisi 20 Tahun),Rp 178.000,Rp 133.500
16,Ziggyzesyazeoviennazabrizkie,Novel Di Tanah Lada,Rp 88.000,Rp 66.000
17,Kazuo Ishiguro,Klara dan Sang Matahari (Klara and The Sun),Rp 117.000,Rp 87.750
18,Keigo Higashino,Novel Catatan Pembunuhan Sang Novelis (Malice),Rp 93.000,Rp 69.750
19,Soji Shimada,Pembunuhan Zodiak Tokyo (The Tokyo Zodiac Murd...,Rp 90.000,Rp 67.500