## ENDEAVOUR INDONESIA adalah sebuah agensi yang bertugas untuk melakukan assesmen terhadap suatu kasus berdasarkan data yang sudah tersedia.

#### Pada kesempatan kali ini, agensi mendapatkan proyek untuk menilai apakah seorang pemain sepakbola dunia layak untuk mendapatkan nilai gaji tertentu berdasarkan parameter-parameter terkait.

#### Agensi akan mengolah data yang diperoleh dari kaggle.com dengan judul dataset FIFA 22 Players Dataset

In [786]:
import pandas as pd

In [787]:
data = pd.read_csv(r"C:\Users\CPU\Downloads\FIFA Dataset\players_22.csv",low_memory=False)

In [788]:
data.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

##### Selanjutnya, dicari nilai korelasi antar variabel

In [789]:
correl = data.corr()

In [790]:
correl

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
sofifa_id,1.000000,-0.491523,0.037576,-0.128102,-0.253044,-0.781023,-0.100362,-0.207461,0.110305,-0.036769,...,-0.420836,-0.161311,-0.094413,-0.078453,-0.105188,-0.108329,-0.106830,-0.114416,-0.106377,-0.431193
overall,-0.491523,1.000000,0.644275,0.554684,0.601764,0.459451,0.042787,0.150324,-0.226640,-0.179032,...,0.708867,0.312093,0.259773,0.233589,-0.010990,-0.011080,-0.012986,-0.002485,-0.007960,0.499533
potential,0.037576,0.644275,1.000000,0.527738,0.497611,-0.264142,0.004403,-0.016912,-0.330928,-0.153075,...,0.426790,0.161288,0.156649,0.140869,-0.043093,-0.044989,-0.047030,-0.040184,-0.042383,0.230408
value_eur,-0.128102,0.554684,0.527738,1.000000,0.823527,0.042886,0.010291,0.035188,-0.191468,-0.117917,...,0.389065,0.140981,0.120724,0.103512,-0.022090,-0.022474,-0.021599,-0.021292,-0.019929,0.204340
wage_eur,-0.253044,0.601764,0.497611,0.823527,1.000000,0.158490,0.028062,0.066208,-0.240514,-0.126592,...,0.437174,0.169093,0.144442,0.125646,-0.024234,-0.024443,-0.024328,-0.022675,-0.022762,0.280131
age,-0.781023,0.459451,-0.264142,0.042886,0.158490,1.000000,0.083009,0.239444,0.089276,-0.054432,...,0.359076,0.163583,0.101713,0.089482,0.109490,0.112420,0.112025,0.120686,0.111281,0.401871
height_cm,-0.100362,0.042787,0.004403,0.010291,0.028062,0.083009,1.000000,0.765465,-0.136575,0.067772,...,-0.160637,-0.088498,-0.095297,-0.095280,0.371105,0.368482,0.366948,0.368452,0.368354,-0.039549
weight_kg,-0.207461,0.150324,-0.016912,0.035188,0.066208,0.239444,0.765465,1.000000,-0.072116,0.015369,...,-0.065075,-0.064124,-0.082212,-0.084719,0.343334,0.341250,0.341570,0.344672,0.343082,0.070521
club_team_id,0.110305,-0.226640,-0.330928,-0.191468,-0.240514,0.089276,-0.136575,-0.072116,1.000000,-0.135896,...,-0.182012,-0.067830,-0.061627,-0.054919,-0.007821,-0.007583,-0.007809,-0.007436,-0.004981,-0.124850
league_level,-0.036769,-0.179032,-0.153075,-0.117917,-0.126592,-0.054432,0.067772,0.015369,-0.135896,1.000000,...,-0.101894,-0.034126,-0.033357,-0.031869,-0.013638,-0.011085,-0.015981,-0.014194,-0.014287,0.003394
club_jersey_number,0.183841,-0.186166,0.009784,-0.067670,-0.069797,-0.209275,-0.019351,-0.055049,0.008801,-0.100427,...,-0.130962,-0.127622,-0.105673,-0.098833,0.005476,0.004407,0.006767,0.003077,0.005504,-0.152304
club_contract_valid_until,0.128058,0.184987,0.345188,0.217051,0.187222,-0.216373,0.023709,-0.020857,-0.176346,-0.059608,...,0.113927,0.027939,0.039206,0.037511,-0.024793,-0.023200,-0.026271,-0.024127,-0.020682,0.023497
nationality_id,0.065832,-0.168315,-0.247198,-0.083983,-0.092472,0.060287,-0.154496,-0.122715,0.314466,-0.264260,...,-0.113387,-0.046589,-0.047333,-0.044683,-0.020341,-0.022797,-0.020545,-0.022489,-0.021077,-0.041585
nation_team_id,-0.009138,-0.214303,-0.185054,-0.084325,-0.105601,-0.006803,-0.000944,0.014342,0.034619,0.198935,...,-0.107502,-0.027178,-0.019121,-0.023927,-0.003965,-0.014385,-0.023248,-0.010812,-0.006469,0.075884
nation_jersey_number,0.179041,-0.116020,-0.027984,-0.017193,-0.100610,-0.192085,-0.118637,-0.136937,-0.006525,0.011087,...,-0.031197,-0.098356,-0.090533,-0.095395,-0.076118,-0.077242,-0.074584,-0.077627,-0.074295,0.016084
weak_foot,-0.121359,0.223762,0.157053,0.149757,0.160240,0.082149,-0.158167,-0.115391,-0.082300,-0.014728,...,0.310196,0.066358,0.040775,0.022701,-0.218797,-0.219986,-0.213778,-0.217013,-0.220583,0.133903
skill_moves,-0.139709,0.376226,0.283746,0.257232,0.272319,0.074076,-0.411341,-0.336606,-0.092031,-0.062234,...,0.605913,0.234671,0.212201,0.177433,-0.604961,-0.603081,-0.601639,-0.601882,-0.603274,NaN
international_reputation,-0.334292,0.470647,0.357283,0.632181,0.675637,0.231927,0.042307,0.088295,-0.149507,-0.104759,...,0.359590,0.117369,0.093238,0.078554,0.010809,0.011323,0.010635,0.013831,0.012639,0.217452
release_clause_eur,-0.113962,0.545197,0.537715,0.995460,0.821330,0.028284,0.010829,0.031126,-0.196273,-0.114199,...,0.380114,0.137521,0.119592,0.102487,-0.020457,-0.020767,-0.020493,-0.019848,-0.018358,0.192905
pace,0.162743,0.174695,0.258817,0.181934,0.134479,-0.209383,-0.399614,-0.360537,-0.071066,-0.012761,...,0.090680,-0.280065,-0.282334,-0.273086,-0.023536,-0.013886,-0.011436,-0.029029,-0.015834,NaN
shooting,-0.301698,0.489623,0.287862,0.290294,0.312219,0.249207,-0.190318,-0.087062,-0.111184,-0.079835,...,0.562154,-0.389756,-0.429505,-0.465380,0.023995,0.028926,0.045259,0.033269,0.038602,NaN
passing,-0.412920,0.715001,0.437655,0.404774,0.438336,0.346893,-0.259754,-0.154743,-0.162502,-0.140896,...,0.721007,0.183582,0.157909,0.123780,0.034174,0.046077,0.043315,0.038797,0.039488,NaN
dribbling,-0.296408,0.666402,0.490270,0.404812,0.421867,0.202410,-0.358324,-0.250922,-0.178576,-0.117785,...,0.674044,-0.108012,-0.140563,-0.167514,0.013868,0.022987,0.032611,0.021025,0.028222,NaN
defending,-0.234020,0.346760,0.162151,0.147359,0.178856,0.247524,0.199484,0.197474,-0.084653,-0.056326,...,0.221225,0.967674,0.977879,0.963833,0.031852,0.028187,0.023944,0.023819,0.020783,NaN
physic,-0.403516,0.529234,0.155740,0.215105,0.249843,0.443169,0.501150,0.586895,-0.108728,-0.018964,...,0.407062,0.508602,0.470436,0.443152,0.051308,0.048943,0.063305,0.053181,0.050191,NaN
attacking_crossing,-0.166999,0.401356,0.243757,0.227414,0.253123,0.132175,-0.489842,-0.396283,-0.080687,-0.061897,...,0.627092,0.465374,0.452296,0.431552,-0.677740,-0.675595,-0.675874,-0.674395,-0.677035,0.314646
attacking_finishing,-0.126239,0.338746,0.230814,0.217691,0.229687,0.088754,-0.374008,-0.290304,-0.071086,-0.039672,...,0.607211,0.057259,0.026031,-0.014740,-0.605657,-0.604279,-0.601335,-0.601135,-0.603013,0.492809
attacking_heading_accuracy,-0.149084,0.343901,0.192825,0.165921,0.207326,0.154516,0.008762,0.039728,-0.067531,-0.039391,...,0.569060,0.591080,0.566170,0.544579,-0.748750,-0.749095,-0.745486,-0.744552,-0.748794,0.242907
attacking_short_passing,-0.183969,0.516788,0.367162,0.297419,0.324420,0.147374,-0.342883,-0.265814,-0.108832,-0.089889,...,0.758580,0.601361,0.581733,0.547546,-0.743980,-0.741955,-0.738854,-0.738538,-0.742318,0.372554
attacking_volleys,-0.197351,0.380942,0.235766,0.238366,0.264481,0.148109,-0.344035,-0.255622,-0.085715,-0.054883,...,0.649909,0.132471,0.098025,0.058476,-0.603146,-0.601622,-0.598669,-0.598384,-0.601480,0.472168
skill_dribbling,-0.085064,0.384351,0.311396,0.240916,0.255204,0.030402,-0.477227,-0.397363,-0.100086,-0.052111,...,0.681339,0.376025,0.357133,0.327172,-0.774698,-0.772985,-0.770454,-0.769348,-0.772202,0.453022
skill_curve,-0.212534,0.420423,0.270217,0.252820,0.281428,0.151111,-0.439474,-0.347480,-0.113576,-0.060968,...,0.679928,0.320766,0.296298,0.264291,-0.617081,-0.614950,-0.613142,-0.613709,-0.615694,0.296273
skill_fk_accuracy,-0.230161,0.381030,0.207769,0.214721,0.245725,0.191301,-0.411407,-0.316938,-0.064670,-0.054765,...,0.628787,0.321562,0.304211,0.270130,-0.563347,-0.562174,-0.559885,-0.560211,-0.562838,0.272891
skill_long_passing,-0.229260,0.498216,0.324791,0.278721,0.310768,0.191542,-0.315242,-0.242198,-0.108642,-0.090887,...,0.705187,0.631930,0.620433,0.593760,-0.605294,-0.603459,-0.599891,-0.601133,-0.604873,0.299925
skill_ball_control,-0.142978,0.460411,0.347172,0.269854,0.293376,0.092112,-0.400440,-0.323804,-0.108672,-0.070996,...,0.743459,0.490070,0.465192,0.430614,-0.804037,-0.802568,-0.799088,-0.798632,-0.802410,0.442592
movement_acceleration,0.103243,0.194044,0.232621,0.157690,0.133496,-0.147650,-0.545003,-0.484069,-0.054509,-0.002155,...,0.416577,0.225918,0.214007,0.202282,-0.630308,-0.630237,-0.628466,-0.626919,-0.628307,0.973703
movement_sprint_speed,0.101162,0.205736,0.235577,0.164682,0.142775,-0.139581,-0.452112,-0.400709,-0.062535,-0.002605,...,0.414051,0.243217,0.229074,0.217606,-0.633539,-0.633607,-0.631737,-0.629623,-0.631408,0.938099
movement_agility,-0.059928,0.270279,0.223385,0.176597,0.171261,-0.010749,-0.621258,-0.534689,-0.060817,0.000671,...,0.505192,0.205738,0.183430,0.164887,-0.556989,-0.556642,-0.554608,-0.554221,-0.555851,0.611258
movement_reactions,-0.482973,0.871823,0.522483,0.492741,0.539616,0.453298,0.008080,0.107943,-0.194740,-0.144080,...,0.697543,0.334779,0.281075,0.251561,-0.079749,-0.080684,-0.081403,-0.073168,-0.075885,0.531521
movement_balance,0.015254,0.123700,0.136890,0.117887,0.105672,-0.066938,-0.769273,-0.651952,-0.013923,0.005323,...,0.384773,0.218342,0.211099,0.200700,-0.533571,-0.532446,-0.530836,-0.529101,-0.531232,0.451374
power_shot_power,-0.327861,0.561180,0.332292,0.301723,0.344529,0.279673,-0.158341,-0.049794,-0.137177,-0.091138,...,0.637367,0.058185,0.017760,-0.016338,-0.275670,-0.275181,-0.266944,-0.271049,-0.273857,0.428526
power_jumping,-0.222044,0.284689,0.096992,0.118294,0.148923,0.219382,0.013769,0.077792,-0.053567,0.012966,...,0.284075,0.331472,0.301869,0.301937,-0.211172,-0.211013,-0.209847,-0.206477,-0.210721,0.503986
power_stamina,-0.115509,0.385150,0.199743,0.198771,0.199667,0.131455,-0.285735,-0.219641,-0.059678,-0.004187,...,0.588383,0.623218,0.600894,0.574866,-0.708093,-0.706221,-0.703382,-0.704100,-0.706687,0.558025
power_strength,-0.305497,0.364366,0.073567,0.128684,0.162081,0.348811,0.531970,0.612221,-0.075555,-0.000563,...,0.301446,0.340599,0.308317,0.290818,-0.120404,-0.122316,-0.119934,-0.116784,-0.120437,0.295173
power_long_shots,-0.203978,0.410010,0.243294,0.231585,0.257850,0.164977,-0.381169,-0.280976,-0.081708,-0.052395,...,0.674166,0.222339,0.193070,0.152482,-0.618455,-0.616621,-0.613442,-0.612976,-0.616527,0.502635
mentality_aggression,-0.246133,0.400161,0.191501,0.183251,0.225225,0.241968,-0.062410,0.006072,-0.091724,-0.044961,...,0.568585,0.754726,0.748095,0.729947,-0.598693,-0.597210,-0.595690,-0.594173,-0.598106,0.256509
mentality_interceptions,-0.173451,0.316470,0.157728,0.141060,0.170430,0.179112,-0.078812,-0.056168,-0.064082,-0.043990,...,0.428391,0.937470,0.951823,0.940891,-0.509861,-0.509198,-0.509059,-0.507294,-0.510780,0.533131
mentality_positioning,-0.135519,0.358562,0.233070,0.224097,0.240612,0.101573,-0.439659,-0.348210,-0.066980,-0.052336,...,0.653477,0.239840,0.213336,0.177224,-0.701519,-0.699802,-0.696555,-0.695813,-0.698717,0.518545
mentality_vision,-0.267625,0.523025,0.345298,0.324453,0.347141,0.209636,-0.356495,-0.270094,-0.125444,-0.087848,...,0.682060,0.200737,0.170446,0.134847,-0.362421,-0.358788,-0.356522,-0.355112,-0.360038,0.253441
mentality_penalties,-0.182124,0.343690,0.208062,0.196231,0.228939,0.151951,-0.321211,-0.234356,-0.060052,-0.043969,...,0.623061,0.168848,0.133673,0.097101,-0.629375,-0.628892,-0.624459,-0.624415,-0.628007,0.414362
mentality_composure,-0.420836,0.708867,0.426790,0.389065,0.437174,0.359076,-0.160637,-0.065075,-0.182012,-0.101894,...,1.000000,0.443772,0.394166,0.359157,-0.449580,-0.446860,-0.445416,-0.441137,-0.447208,0.473111
defending_marking_awareness,-0.161311,0.312093,0.161288,0.140981,0.169093,0.163583,-0.088498,-0.064124,-0.067830,-0.034126,...,0.443772,1.000000,0.939809,0.933001,-0.553614,-0.553478,-0.552878,-0.550999,-0.554628,0.399500
defending_standing_tackle,-0.094413,0.259773,0.156649,0.120724,0.144442,0.101713,-0.095297,-0.082212,-0.061627,-0.033357,...,0.394166,0.939809,1.000000,0.977414,-0.552253,-0.551793,-0.551931,-0.550445,-0.553272,0.294235
defending_sliding_tackle,-0.078453,0.233589,0.140869,0.103512,0.125646,0.089482,-0.095280,-0.084719,-0.054919,-0.031869,...,0.359157,0.933001,0.977414,1.000000,-0.531952,-0.531655,-0.531363,-0.530015,-0.532583,0.307414
goalkeeping_diving,-0.105188,-0.010990,-0.043093,-0.022090,-0.024234,0.109490,0.371105,0.343334,-0.007821,-0.013638,...,-0.449580,-0.553614,-0.552253,-0.531952,1.000000,0.971585,0.968414,0.971219,0.973929,0.476895
goalkeeping_handling,-0.108329,-0.011080,-0.044989,-0.022474,-0.024443,0.112420,0.368482,0.341250,-0.007583,-0.011085,...,-0.446860,-0.553478,-0.551793,-0.531655,0.971585,1.000000,0.968049,0.970705,0.971818,0.423886
goalkeeping_kicking,-0.106830,-0.012986,-0.047030,-0.021599,-0.024328,0.112025,0.366948,0.341570,-0.007809,-0.015981,...,-0.445416,-0.552878,-0.551931,-0.531363,0.968414,0.968049,1.000000,0.967259,0.968706,0.428831
goalkeeping_positioning,-0.114416,-0.002485,-0.040184,-0.021292,-0.022675,0.120686,0.368452,0.344672,-0.007436,-0.014194,...,-0.441137,-0.550999,-0.550445,-0.530015,0.971219,0.970705,0.967259,1.000000,0.971501,0.450546
goalkeeping_reflexes,-0.106377,-0.007960,-0.042383,-0.019929,-0.022762,0.111281,0.368354,0.343082,-0.004981,-0.014287,...,-0.447208,-0.554628,-0.553272,-0.532583,0.973929,0.971818,0.968706,0.971501,1.000000,0.478162
goalkeeping_speed,-0.431193,0.499533,0.230408,0.204340,0.280131,0.401871,-0.039549,0.070521,-0.124850,0.003394,...,0.473111,0.399500,0.294235,0.307414,0.476895,0.423886,0.428831,0.450546,0.478162,1.000000

##### Karena yang menjadi fokus adalah masalah gaji, jadi yang perlu dilihat adalah nilai korelasi variabel 'wage_eur' dengan variabel-variabel yang memiliki nilai korelasi mendekati 1 yang berarti berkorelasi positif (dalam hal ini nilai korelasi yang diinginkan adalah lebih dari 0.6)

In [791]:
data1 = pd.DataFrame(correl['wage_eur']).copy()

In [792]:
data1 = data1.loc[(correl['wage_eur'])>0.6].copy()

In [793]:
data1

                          wage_eur
overall                   0.601764
value_eur                 0.823527
wage_eur                  1.000000
international_reputation  0.675637
release_clause_eur        0.821330

##### Setelah didapatkan variabel yang berkolerasidengan variabel wage_eur, maka selanjutnya akan dicari nilai korelasi variabel tersebut dengan variabel lainnya yang mendukung besaran nilai pada variabel tersebut.

In [794]:
data2 = pd.DataFrame(correl['overall']).copy()

In [795]:
data2 = data2.loc[(correl['overall'])>0.6].copy()

In [796]:
data2

                      overall
overall              1.000000
potential            0.644275
wage_eur             0.601764
passing              0.715001
dribbling            0.666402
movement_reactions   0.871823
mentality_composure  0.708867

In [797]:
data3 = pd.DataFrame(correl['value_eur']).copy()

In [798]:
data3 = data3.loc[(correl['value_eur'])>0.6].copy()

In [799]:
data3

                          value_eur
value_eur                  1.000000
wage_eur                   0.823527
international_reputation   0.632181
release_clause_eur         0.995460

In [800]:
data4 = pd.DataFrame(correl['international_reputation']).copy()

In [801]:
data4 = data4.loc[(correl['international_reputation'])>0.6].copy()

In [802]:
data4

                          international_reputation
value_eur                                 0.632181
wage_eur                                  0.675637
international_reputation                  1.000000
release_clause_eur                        0.615685

In [803]:
data5 = pd.DataFrame(correl['release_clause_eur']).copy()

In [804]:
data5 = data5.loc[(correl['release_clause_eur'])>0.6].copy()

In [805]:
data5

                          release_clause_eur
value_eur                           0.995460
wage_eur                            0.821330
international_reputation            0.615685
release_clause_eur                  1.000000

#### Variabel 'value_eur', 'international_reputation', dan 'release_clause_eur' hanya berkorelasi dengan variabel diantara mereka sendiri dan dengan variabel 'wage_eur' dan 'overall'. Sedangkan variabel 'overall' memiliki korelasi positif yang cukup tinggi dengan variabel-variabel lain, sehingga akan dicari nilai asumsi dari variabel 'overall' dengan menggunakan variabel-variabel tersebut, kecuali variabel-variabel yang sudah disebutkan di atas tadi.

In [806]:
dataset1 = data[['short_name','overall','passing','dribbling','movement_reactions','mentality_composure']]
dataset1

,short_name,overall,passing,dribbling,movement_reactions,mentality_composure
0,L. Messi,93,91.0,95.0,94,96
1,R. Lewandowski,92,79.0,86.0,93,88
2,Cristiano Ronaldo,91,80.0,88.0,94,95
3,Neymar Jr,91,86.0,94.0,89,93
4,K. De Bruyne,91,93.0,88.0,91,89
...,...,...,...,...,...,...
19234,Song Defu,47,46.0,48.0,53,37
19235,C. Porter,47,50.0,46.0,49,47
19236,N. Logue,47,45.0,49.0,46,36
19237,L. Rudden,47,36.0,48.0,48,47
19238,E. Lalchhanchhuaha,47,45.0,48.0,54,36

In [807]:
training_dataset1 = dataset1.loc[(dataset1['overall'])<80].copy()
training_dataset1 = training_dataset1.dropna()
training_dataset1

,short_name,overall,passing,dribbling,movement_reactions,mentality_composure
509,Iniesta,79,84.0,84.0,71,89
510,J. Milner,79,81.0,77.0,84,84
511,F. Ribéry,79,81.0,85.0,69,81
513,B. Gomis,79,68.0,72.0,80,81
514,M. Dembélé,79,76.0,85.0,71,90
...,...,...,...,...,...,...
19234,Song Defu,47,46.0,48.0,53,37
19235,C. Porter,47,50.0,46.0,49,47
19236,N. Logue,47,45.0,49.0,46,36
19237,L. Rudden,47,36.0,48.0,48,47
19238,E. Lalchhanchhuaha,47,45.0,48.0,54,36

In [808]:
test_dataset1 = dataset1.loc[(dataset1['overall'])>=80].copy()
test_dataset1 = test_dataset1.dropna()
test_dataset1

,short_name,overall,passing,dribbling,movement_reactions,mentality_composure
0,L. Messi,93,91.0,95.0,94,96
1,R. Lewandowski,92,79.0,86.0,93,88
2,Cristiano Ronaldo,91,80.0,88.0,94,95
3,Neymar Jr,91,86.0,94.0,89,93
4,K. De Bruyne,91,93.0,88.0,91,89
...,...,...,...,...,...,...
504,N. Vlašić,80,78.0,82.0,78,77
505,Pedro Porro,80,73.0,79.0,78,78
506,V. Tsygankov,80,78.0,80.0,78,76
507,V. Coufal,80,73.0,75.0,78,72
508,B. Saka,80,76.0,82.0,76,73

In [809]:
X_train = training_dataset1[['passing','dribbling','movement_reactions','mentality_composure']]
y_train = training_dataset1[['overall']]

In [810]:
X_test = test_dataset1[['passing','dribbling','movement_reactions','mentality_composure']]
y_test = test_dataset1[['overall']]

##### Menggunakan algoritma Decision Tree Clasiifier

In [811]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model = model.fit(X_train, y_train)

In [812]:
y_pred = model.predict(X_test)

In [813]:
y_pred1 = pd.Series(y_pred)
y_pred1

0      77.0
1      77.0
2      77.0
3      77.0
4      77.0
       ...
434    79.0
435    78.0
436    77.0
437    78.0
438    75.0
Length: 439, dtype: float64

In [814]:
y_train

       overall
509         79
510         79
511         79
513         79
514         79
...        ...
19234       47
19235       47
19236       47
19237       47
19238       47

[16668 rows x 1 columns]

##### Menggunakan algoritma Linear Regression

In [815]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg = linreg.fit(X_train, y_train)

In [816]:
y_pred2 = linreg.predict(X_test)

In [817]:
y_pred2 = pd.DataFrame(y_pred2)
y_pred2

             0
0    89.408260
1    86.452422
2    88.191532
3    86.361221
4    86.792015
..         ...
434  77.896423
435  77.590362
436  77.646146
437  76.432023
438  76.234326

[439 rows x 1 columns]

##### Menggunakan algoritma Random Forest Regressor

In [818]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf = rf.fit(X_train, y_train)

C:\Users\CPU\AppData\Local\Temp\ipykernel_9404\3665841973.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = rf.fit(X_train, y_train)

In [819]:
y_pred3 = rf.predict(X_test)

In [820]:
y_pred3 = pd.Series(y_pred3)

##### Menentukan algoritma yang paling baik dengan cara melakukan penilaian dengan parameter nilai error yang paling kecil diantara algoritma tersebut.

In [821]:
from sklearn.metrics import mean_absolute_error
mae1 = mean_absolute_error(y_test, y_pred1)
mae2 = mean_absolute_error(y_test, y_pred2)
mae3 = mean_absolute_error(y_test, y_pred3)

In [822]:
mae1

5.026195899772209

In [823]:
mae2

2.944567953587012

In [824]:
mae3

4.943745634016705

##### Setelah ditemukan algoritma dengan error terkecil (Linear Regression), y_pred2 disisipkan ke dalam dataframe test_dataset1 untuk selanjutnya diproses kembali.

In [825]:
new_dataset1 = test_dataset1.set_index('short_name').copy()

In [826]:
new_dataset1 = new_dataset1.reset_index()

In [827]:
update_dataset = pd.merge(new_dataset1,y_pred2,how="outer",left_index=True,right_index=True)

In [828]:
update_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   short_name           439 non-null    object
 1   overall              439 non-null    int64
 2   passing              439 non-null    float64
 3   dribbling            439 non-null    float64
 4   movement_reactions   439 non-null    int64
 5   mentality_composure  439 non-null    int64
 6   0                    439 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 24.1+ KB

In [829]:
update_dataset.rename(columns={0:"rating"},inplace=True)

In [830]:
import math

In [831]:
# Membulatkan nilai rating ke nilai puluhan terdekat
update_dataset['rating'] = update_dataset['rating'].apply(lambda x : math.ceil(x))

In [832]:
update_dataset

,short_name,overall,passing,dribbling,movement_reactions,mentality_composure,rating
0,L. Messi,93,91.0,95.0,94,96,90
1,R. Lewandowski,92,79.0,86.0,93,88,87
2,Cristiano Ronaldo,91,80.0,88.0,94,95,89
3,Neymar Jr,91,86.0,94.0,89,93,87
4,K. De Bruyne,91,93.0,88.0,91,89,87
...,...,...,...,...,...,...,...
434,N. Vlašić,80,78.0,82.0,78,77,78
435,Pedro Porro,80,73.0,79.0,78,78,78
436,V. Tsygankov,80,78.0,80.0,78,76,78
437,V. Coufal,80,73.0,75.0,78,72,77
438,B. Saka,80,76.0,82.0,76,73,77

##### Menggabungkan variabel wage_eur, value_eur, short_name, international_reputations, release_clause_eur, dari dataset pertama dengan variabel rating berdasarkan pemrosesan yang baru saja dilakukan menjadi satu dataframe baru.

In [833]:
first_data = data[['short_name', 'value_eur','international_reputation','release_clause_eur','wage_eur']].copy()

In [834]:
first_data

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur
0,L. Messi,78000000.0,5,144300000.0,320000.0
1,R. Lewandowski,119500000.0,5,197200000.0,270000.0
2,Cristiano Ronaldo,45000000.0,5,83300000.0,270000.0
3,Neymar Jr,129000000.0,5,238700000.0,270000.0
4,K. De Bruyne,125500000.0,4,232200000.0,350000.0
...,...,...,...,...,...
19234,Song Defu,70000.0,1,114000.0,1000.0
19235,C. Porter,110000.0,1,193000.0,500.0
19236,N. Logue,100000.0,1,175000.0,500.0
19237,L. Rudden,110000.0,1,239000.0,500.0
19238,E. Lalchhanchhuaha,110000.0,1,217000.0,500.0

In [835]:
second_data = update_dataset[['short_name','rating']].copy()

In [836]:
second_data

            short_name  rating
0             L. Messi      90
1       R. Lewandowski      87
2    Cristiano Ronaldo      89
3            Neymar Jr      87
4         K. De Bruyne      87
..                 ...     ...
434          N. Vlašić      78
435        Pedro Porro      78
436       V. Tsygankov      78
437          V. Coufal      77
438            B. Saka      77

[439 rows x 2 columns]

In [837]:
dataset2 = pd.merge(first_data,second_data,how='inner',left_on='short_name',right_on='short_name')

In [838]:
dataset2

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating
0,L. Messi,78000000.0,5,144300000.0,320000.0,90
1,R. Lewandowski,119500000.0,5,197200000.0,270000.0,87
2,Cristiano Ronaldo,45000000.0,5,83300000.0,270000.0,89
3,Neymar Jr,129000000.0,5,238700000.0,270000.0,87
4,K. De Bruyne,125500000.0,4,232200000.0,350000.0,87
...,...,...,...,...,...,...
535,N. Vlašić,33500000.0,2,70400000.0,66000.0,78
536,Pedro Porro,40500000.0,1,NaN,80000.0,78
537,V. Tsygankov,33500000.0,2,80400000.0,1000.0,78
538,V. Coufal,19000000.0,1,36100000.0,73000.0,77
539,B. Saka,45500000.0,2,95600000.0,50000.0,77

In [839]:
dataset2 = dataset2.dropna()

In [840]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 0 to 539
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   short_name                520 non-null    object
 1   value_eur                 520 non-null    float64
 2   international_reputation  520 non-null    int64
 3   release_clause_eur        520 non-null    float64
 4   wage_eur                  520 non-null    float64
 5   rating                    520 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 28.4+ KB

In [841]:
scaling = dataset2.copy()

In [842]:
scaling['release_clause_eur'] = scaling['release_clause_eur'] / scaling['release_clause_eur'].max()
scaling['wage_eur'] = scaling['wage_eur'] /scaling['wage_eur'].max()
scaling['value_eur'] = scaling['value_eur'] /scaling['value_eur'].max()
scaling['international_reputation'] = scaling['international_reputation'] / scaling['international_reputation'].max()
scaling['rating'] = scaling['rating'] / scaling['rating'].max()

In [843]:
scaling

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating
0,L. Messi,0.402062,1.0,0.386345,0.914286,1.000000
1,R. Lewandowski,0.615979,1.0,0.527979,0.771429,0.966667
2,Cristiano Ronaldo,0.231959,1.0,0.223025,0.771429,0.988889
3,Neymar Jr,0.664948,1.0,0.639090,0.771429,0.966667
4,K. De Bruyne,0.646907,0.8,0.621687,1.000000,0.966667
...,...,...,...,...,...,...
534,L. Díaz,0.001933,0.2,0.003213,0.001429,0.877778
535,N. Vlašić,0.172680,0.4,0.188487,0.188571,0.866667
537,V. Tsygankov,0.172680,0.4,0.215261,0.002857,0.866667
538,V. Coufal,0.097938,0.2,0.096653,0.208571,0.855556
539,B. Saka,0.234536,0.4,0.255957,0.142857,0.855556

##### Membagi data menjadi 2 bagian train dan test dengan ketentuan nilai rating lebih dari atau sama dengan 80 dijadikan test dataset.

In [844]:
train_dataset2 = scaling.loc[(scaling['rating'])<0.88888].copy()

In [845]:
train_dataset2

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating
42,G. Chiellini,0.061856,0.8,0.053012,0.251429,0.866667
50,K. Koulibaly,0.286082,0.6,0.252744,0.300000,0.877778
108,Luis Alberto,0.219072,0.4,0.193574,0.271429,0.855556
115,S. Savić,0.177835,0.4,0.189290,0.211429,0.877778
116,S. Savić,0.004639,0.2,0.003213,0.008571,0.877778
...,...,...,...,...,...,...
534,L. Díaz,0.001933,0.2,0.003213,0.001429,0.877778
535,N. Vlašić,0.172680,0.4,0.188487,0.188571,0.866667
537,V. Tsygankov,0.172680,0.4,0.215261,0.002857,0.866667
538,V. Coufal,0.097938,0.2,0.096653,0.208571,0.855556
539,B. Saka,0.234536,0.4,0.255957,0.142857,0.855556

In [846]:
X_train2 = train_dataset2[['value_eur','international_reputation','release_clause_eur','rating']]
y_train2 = train_dataset2[['wage_eur']]

In [847]:
test_dataset2 = scaling.loc[(scaling['rating'])>=0.888888].copy()

In [848]:
test_dataset2

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating
0,L. Messi,0.402062,1.0,0.386345,0.914286,1.000000
1,R. Lewandowski,0.615979,1.0,0.527979,0.771429,0.966667
2,Cristiano Ronaldo,0.231959,1.0,0.223025,0.771429,0.988889
3,Neymar Jr,0.664948,1.0,0.639090,0.771429,0.966667
4,K. De Bruyne,0.646907,0.8,0.621687,1.000000,0.966667
...,...,...,...,...,...,...
493,V. Lindelöf,0.118557,0.4,0.118608,0.300000,0.900000
504,I. Bennacer,0.154639,0.4,0.142704,0.117143,0.888889
508,D. Zakaria,0.157216,0.4,0.155288,0.080000,0.888889
511,Gerson,0.154639,0.4,0.158768,0.117143,0.900000
515,Renato Sanches,0.170103,0.6,0.185542,0.108571,0.888889

In [849]:
X_test2 = test_dataset2[['value_eur','international_reputation','release_clause_eur','rating']]
y_test2 = test_dataset2[['wage_eur']]

##### Sama seperti proses sebelumnya, sekarang akan dilakukan pengujian dan penerapan algoritma supervised learning guna menemukan formula mana yang lebih baik.

##### Algoritma Decision Tree Regressor

In [850]:
from sklearn.tree import DecisionTreeRegressor

In [851]:
model2 = DecisionTreeRegressor()
model2 = model2.fit(X_train2, y_train2)

In [852]:
pred1 = model2.predict(X_test2)

##### Algoritma Linear Regression

In [853]:
from sklearn.linear_model import LinearRegression

In [854]:
linreg2 = LinearRegression()
linreg2 = linreg.fit(X_train2, y_train2)

In [855]:
pred2 = linreg2.predict(X_test2)

##### Algoritma Random Forest Regressor

In [856]:
from sklearn.ensemble import RandomForestRegressor

In [857]:
fr2 = RandomForestRegressor()
fr2 = fr2.fit(X_train2, y_train2)

C:\Users\CPU\AppData\Local\Temp\ipykernel_9404\2272597922.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  fr2 = fr2.fit(X_train2, y_train2)

In [858]:
pred3 = fr2.predict(X_test2)

##### Menghitung nilai error masing-masing algoritma dengan Mean Absolute Error

In [859]:
from sklearn.metrics import mean_absolute_error
mae_pred1 = mean_absolute_error(y_test2, pred1)
mae_pred2 = mean_absolute_error(y_test2, pred2)
mae_pred3 = mean_absolute_error(y_test2, pred3)

In [860]:
mae_pred1

0.11590316395014381

In [861]:
mae_pred2

0.09513710258680792

In [862]:
mae_pred3

0.11366855704697984

#### Karena algoritma LinReg memiliki nilai error paling kecil, maka data yang akan dipakai adalah prediksi dari Linreg

In [863]:
pred2 = pd.DataFrame(pred2)
pred2

            0
0    0.519472
1    0.638198
2    0.400621
3    0.695137
4    0.632216
..        ...
293  0.158450
294  0.177666
295  0.183105
296  0.185281
297  0.248933

[298 rows x 1 columns]

In [864]:
test_dataset2 = test_dataset2.set_index('short_name').copy()

In [865]:
test_dataset2 = test_dataset2.reset_index()
test_dataset2

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating
0,L. Messi,0.402062,1.0,0.386345,0.914286,1.000000
1,R. Lewandowski,0.615979,1.0,0.527979,0.771429,0.966667
2,Cristiano Ronaldo,0.231959,1.0,0.223025,0.771429,0.988889
3,Neymar Jr,0.664948,1.0,0.639090,0.771429,0.966667
4,K. De Bruyne,0.646907,0.8,0.621687,1.000000,0.966667
...,...,...,...,...,...,...
293,V. Lindelöf,0.118557,0.4,0.118608,0.300000,0.900000
294,I. Bennacer,0.154639,0.4,0.142704,0.117143,0.888889
295,D. Zakaria,0.157216,0.4,0.155288,0.080000,0.888889
296,Gerson,0.154639,0.4,0.158768,0.117143,0.900000
297,Renato Sanches,0.170103,0.6,0.185542,0.108571,0.888889

In [866]:
final_dataset = pd.merge(test_dataset2, pred2, how='inner', left_index=True, right_index=True)

In [867]:
final_dataset.rename(columns={0:"salary_in_euro"},inplace=True)

In [868]:
final_dataset

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating,salary_in_euro
0,L. Messi,0.402062,1.0,0.386345,0.914286,1.000000,0.519472
1,R. Lewandowski,0.615979,1.0,0.527979,0.771429,0.966667,0.638198
2,Cristiano Ronaldo,0.231959,1.0,0.223025,0.771429,0.988889,0.400621
3,Neymar Jr,0.664948,1.0,0.639090,0.771429,0.966667,0.695137
4,K. De Bruyne,0.646907,0.8,0.621687,1.000000,0.966667,0.632216
...,...,...,...,...,...,...,...
293,V. Lindelöf,0.118557,0.4,0.118608,0.300000,0.900000,0.158450
294,I. Bennacer,0.154639,0.4,0.142704,0.117143,0.888889,0.177666
295,D. Zakaria,0.157216,0.4,0.155288,0.080000,0.888889,0.183105
296,Gerson,0.154639,0.4,0.158768,0.117143,0.900000,0.185281
297,Renato Sanches,0.170103,0.6,0.185542,0.108571,0.888889,0.248933

In [869]:
final_dataset['release_clause_eur'] = final_dataset['release_clause_eur'] * dataset2['release_clause_eur'].max()
final_dataset['wage_eur'] = final_dataset['wage_eur'] * dataset2['wage_eur'].max()
final_dataset['value_eur'] = final_dataset['value_eur'] * dataset2['value_eur'].max()
final_dataset['international_reputation'] = final_dataset['international_reputation'] * dataset2['international_reputation'].max()
final_dataset['rating'] = final_dataset['rating'] * dataset2['rating'].max()
final_dataset['salary_in_euro'] = final_dataset['salary_in_euro'] * dataset2['wage_eur'].max()

In [870]:
final_dataset['release_clause_eur'] = final_dataset['release_clause_eur'].astype(int)
final_dataset['wage_eur'] = final_dataset['wage_eur'].astype(int)
final_dataset['value_eur'] = final_dataset['value_eur'].astype(int)
final_dataset['international_reputation'] = final_dataset['international_reputation'].astype(int)
final_dataset['rating'] = final_dataset['rating'].astype(int)
final_dataset['salary_in_euro'] = final_dataset['salary_in_euro'].astype(int)

In [871]:
final_dataset

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating,salary_in_euro
0,L. Messi,78000000,5,144300000,320000,90,181815
1,R. Lewandowski,119500000,5,197200000,270000,87,223369
2,Cristiano Ronaldo,45000000,5,83300000,270000,89,140217
3,Neymar Jr,129000000,5,238700000,270000,87,243297
4,K. De Bruyne,125500000,4,232200000,350000,87,221275
...,...,...,...,...,...,...,...
293,V. Lindelöf,23000000,2,44300000,105000,81,55457
294,I. Bennacer,30000000,2,53300000,41000,80,62183
295,D. Zakaria,30500000,2,57999999,28000,80,64086
296,Gerson,30000000,2,59300000,41000,81,64848
297,Renato Sanches,33000000,3,69300000,38000,80,87126

In [872]:
overprice = final_dataset.loc[(final_dataset['salary_in_euro'])<(final_dataset['wage_eur'])].copy()

In [873]:
overprice

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating,salary_in_euro
0,L. Messi,78000000,5,144300000,320000,90,181815
1,R. Lewandowski,119500000,5,197200000,270000,87,223369
2,Cristiano Ronaldo,45000000,5,83300000,270000,89,140217
3,Neymar Jr,129000000,5,238700000,270000,87,243297
4,K. De Bruyne,125500000,4,232200000,350000,87,221275
...,...,...,...,...,...,...,...
289,Q. Promes,20500000,3,32800000,68000,80,67056
290,D. Alli,26499999,3,52300000,89999,81,77989
291,C. Tolisso,24500000,3,42300000,78000,80,72737
292,N. Keïta,27500000,2,52900000,110000,80,60513
293,V. Lindelöf,23000000,2,44300000,105000,81,55457

In [874]:
underprice = final_dataset.loc[(final_dataset['salary_in_euro'])>(final_dataset['wage_eur'])].copy()

In [875]:
underprice

,short_name,value_eur,international_reputation,release_clause_eur,wage_eur,rating,salary_in_euro
5,K. Mbappé,194000000,4,373500000,230000,87,311309
14,J. Kimmich,108000000,4,186300000,160000,85,193690
16,L. Suárez,44500000,5,91200000,135000,86,140715
17,L. Suárez,23500000,1,54100000,23000,86,44560
18,L. Suárez,850000,1,1300000,3000,86,12724
...,...,...,...,...,...,...,...
288,Roger,550000,1,784000,2000,80,8605
294,I. Bennacer,30000000,2,53300000,41000,80,62183
295,D. Zakaria,30500000,2,57999999,28000,80,64086
296,Gerson,30000000,2,59300000,41000,81,64848
297,Renato Sanches,33000000,3,69300000,38000,80,87126

#### KESIMPULAN
##### Ada 146 pemain yang mendapatkan gaji lebih tinggi dari yang seharusnya diterima atas pertimbangan rating, reputasi internasional, harga jual, dan nilai jual dalam kontrak. Sementara itu ada 152 pemain dengan besaran gaji lebih rendah dibandingkan kontribusinya atas pertimbangan faktor-faktor tadi.